
@model IEnumerable<EmployeeIndexServiceModel>

@{
    ViewBag.Title = "All Employees";
}

    <div class="col-md-4 offset-md-4 text-center">
        <h1>All Employees</h1>

        @if (Model.Any())
        {
            <a asp-action="Create" asp-controller="Employee"
               class="btn btn-primary mb-3" style="width:auto">
                Add new employee
            </a>

            foreach (var employee in Model)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        EmployeeId Id : @employee.EmployeeId
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">First Name: @employee.FirstName</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Last Name: @employee.LastName</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Seniority Level: @employee.ExperienceLevel</h5>
                    </div>
                    <div class="card-footer">
                        <form method="post" asp-action="Delete" asp-controller="Employee" asp-route-id="@employee.EmployeeId">
                            <a asp-controller="Employee" asp-action="Edit"
                               asp-route-id="@employee.EmployeeId" class="btn btn-primary" style="width:73.8px">Edit</a>
                            <a asp-controller="Employee" asp-action="Details"
                               asp-route-id="@employee.EmployeeId" class="btn btn-primary">Details</a>

                            <span id="confirmDeleteSpan_@employee.EmployeeId" style="display:none">
                                <span>Are you sure you want to delete?</span>
                                <button type="submit" class="btn btn-danger">Yes</button>
                                <a href="#" class="btn btn-primary"
                                   onclick="confirmDelete('@employee.EmployeeId', false)">No</a>
                            </span>
                            <span id="deleteSpan_@employee.EmployeeId">
                                <a href="#" class="btn btn-danger"
                                   onclick="confirmDelete('@employee.EmployeeId', true)">Delete</a>
                            </span>
                        </form>
                    </div>
                    <br />
                </div>
            }
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    No employees created yet
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Use the button below to create an employee
                    </h5>
                    <a class="btn btn-primary" style="width:auto"
                       asp-controller="Employee" asp-action="Create">
                        Add new employee
                    </a>
                </div>
            </div>
        }
    </div>


@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}

