@model CompanyDetailsViewModel

@{
    ViewBag.Title = "Company Details";
}

<div class="col-md-4 offset-md-4 text-center screen-height-min">
    <h1>Company Details</h1>
    <a asp-action="Index" asp-controller="Company"
       class="btn btn-primary mb-3 w-25">
        Back
    </a>
    <div class="card mb-3">
        <div class="card-header">
            Company Id : @Model.CompanyId
        </div>
        <div class="card-body">
            <h5 class="card-title">Name: @Model.Name</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">Creation Date: @Model.CreationDate</h5>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Company officess</h3>
            </div>
            <div class="card-body">
                @if (Model.Offices.Any())
                {
                    foreach (var office in Model.Offices)
                    {
                        <h5 class="card-title">Country: @office.Country</h5>
                        <h5 class="card-title">City: @office.City</h5>
                        <h5 class="card-title">Street: @office.Street @office.StreetNumber</h5>
                        <h5 class="card-title">@office.IsHQ</h5>
                        <hr class="office-hr" />
                    }
                }
                else
                {
                    <h5 class="card-title">No officess assigned to that company</h5>
                }
                <br />
                <br />
            </div>
        </div>
    </div>
</div>



